{% extends "_global/index.html" %}

{% block main %}
<div>
    <div class="options">
        <a href="{{ BASE }}user/rents">List all rents</a>
    </div>

    <form class="rent-form" method="POST">
        <div class="form-group">
            <label for="vehicle_id">Vehicle id: </label>
            <select id="vehicle_id" name="vehicle_id" class="form-control" required>
                {% for vehicle in vehicles %}
                <option value="{{ vehicle.vehicle_id }}" {% if rent.vehicle_id == vehicle.vehicle_id %}selected{% endif %}>
                    {{ vehicle.vehicle_id }}
                </option>
                {% endfor %}
            </select>
        </div>

        <div class="form-group">
            <label for="delivery_place">Delivery place: </label>
            <input type="text" id="delivery_place" name="delivery_place" class="form-control" value="{{ rent.delivery_place }}" required>
        </div>

        <div class="form-group">
            <label for="return_place">Return place: </label>
            <input type="text" id="return_place" name="return_place" class="form-control" value="{{ rent.return_place }}" required>
        </div>

        <div class="form-group">
            <label for="delivered_at">Delivery place: </label>
            <input type="datetime-local" id="delivered_at" name="delivered_at" class="form-control" value="{{ rent.delivered_at }}" required>
        </div>

        <div class="form-group">
            <label for="returned_at">Delivery place: </label>
            <input type="datetime-local" id="returned_at" name="returned_at" class="form-control" value="{{ rent.returned_at }}" required>
        </div>

        <div>
            <button type="submit" class="btn btn-danger">
                Change rent
            </button>
        </div>
    </form>
</div>
{% endblock %}
