{% extends "_global/index.html" %}

{% block main %}
<div class="expenses-list-admin">
    <div class="options">
        <a href="{{ BASE }}user/rents/add">Add new rent</a>
    </div>

    <div class="rents">
        <ul>
            {% for rent in rents %}
            <li>
                <a href="{{ BASE }}user/rents/edit/{{ rent.rent_id }}">
                    {{ rent.rent_id|escape }}
                </a>
            {% endfor %}
        </ul>
    </div>
</div>
{% endblock %}
