{% extends "_global/index.html" %}

{% block main %}
{% spaceless %}

<div class="dashboard text-center cms-title"><h1>Admin CMS</h1></div>
    <div class="container col-sm-12 col-md-6 offset-md-3 text-center cms-list">
        <div class="card text-center">
            <div class="card-header">
                <h2 class="card-title">Lista opcija</h5>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item"><a href="{{ BASE }}admin/categories">Kategorije</a>
                <li class="list-group-item"><a href="{{ BASE }}admin/vehicles">Vozila</a>
                <li class="list-group-item"><a href="{{ BASE }}admin/features">Karakteristike</a>
                <li class="list-group-item"><a href="{{ BASE }}admin/vehicleFeatures">Vrednosti Karakteristika</a>
                <li class="list-group-item"><a href="{{ BASE }}admin/prices">Cene</a>
                <li class="list-group-item"><a href="{{ BASE }}admin/expenses">Troskovi</a>
                <li class="list-group-item"><a href="{{ BASE }}admin/rents">Iznajmljivanja</a>
                <li class="list-group-item"><a href="{{ BASE }}admin/users">Korisnici</a>   
            </ul>
        </div>
        <p>Trenutno vreme je: {{ "now"|date('d.m.Y. H.i', timezone="Europe/Belgrade") }}</p>
    </div>


{% endspaceless %}
{% endblock %}