{% extends "_global/index.html" %}

{% block main %}
<div>
    <div class="options">
        <a href="{{ BASE }}admin/prices">List all prices</a>
    </div>

    <form class="price-form" method="POST">
        
        <div class="form-group">
            <label for="price">Enter price: </label>
            <input type="number" id="price" name="price" class="form-control" required>
        </div>

        <div class="form-group">
            <label for="vehicle_id">Choose vehicle: </label>
            <select id="vehicle_id" name="vehicle_id" class="form-control" required>
                {% for vehicle in vehicles %}
                <option value="{{ vehicle.vehicle_id }}">
                    {{ vehicle.vehicle_id }}
                </option>
                {% endfor %}
            </select>
        </div>

        <div>
            <button type="submit" class="btn btn-danger">
                Change price
            </button>
        </div>
    </form>
</div>
{% endblock %}
