{% extends "_global/index.html" %}

{% block main %}
<div>
    <div class="options">
        <a href="{{ BASE }}admin/prices">List all prices</a>
    </div>

    <p>{{ message|escape }}</p>
</div>
{% endblock %}
