{% extends "_global/index.html" %}

{% block main %}
    <div class="card prices-list-admin">
        
        <div class="card-header">
            <h1>Price list</h1>
        </div>

            <ul class="list-group list-group-flush">
                {% for price in prices %}
                <li class="list-group-item">
                    <a href="{{ BASE }}admin/prices/edit/{{ price.price_id }}">
                        ID cene: {{ price.price_id|escape }}
                    </a>
                {% endfor %}
            </ul>

            <div class="list-group">
                <button type="button" class="btn btn-primary link">
                    <a href="{{ BASE }}admin/prices/add">Add new price</a>
                </button>
            </div>
    </div>
{% endblock %}
