{% extends "_global/index.html" %}

{% block main %}
<div>
    <div class="options">
        <a href="{{ BASE }}admin/vehicles">List all vehicles</a>
    </div>

    <form class="rent-form" method="POST" enctype="multipart/form-data">

        <div class="form-group">
            <label for="initial_milage">Initial milage: </label>
            <input type="number" id="initial_milage" name="initial_milage" class="form-control" required>
        </div>

        <div class="form-group">
            <label for="category_id">Category: </label>
            <select id="category_id" name="category_id" class="form-control" required>
                {% for category in categories %}
                <option value="{{ category.category_id }}">
                    {{ category.name }}
                </option>
                {% endfor %}
            </select>
        </div>
        
        <div class="form-group">
            <label for="image_title">Image title: </label>
            <input type="text" id="image_title" name="image_title" class="form-control" required>
        </div>

        <div class="form-group">
            <label for="image">Choose image: </label>
            <input type="file" id="image" name="image" class="form-control" accept="image/*" required>
        </div>

        <div>
            <button type="submit" class="btn btn-danger">
                Add vehicle
            </button>
        </div>

    </form>
</div>
{% endblock %}
