{% extends "_global/index.html" %}

{% block main %}
<div>
    Reg forma
    <form class="registration-form" method="POST">
        
        <div class="form-group">
            <label for="registred_at">Date of registration: </label>
            <input type="datetime" id="registred_at" name="registred_at" class="form-control" value="{{ registration.registred_at }}">
        </div>

        <div class="form-group">
            <label for="expires_at">Date when registration expires: </label>
            <input type="datetime" id="expires_at" name="expires_at" class="form-control" value="{{ registration.expires_at }}">
        </div>

        
        <div class="form-group">
            <label for="registration">Registration: </label>
            <input type="text" id="registration" name="registration" class="form-control" value="{{ registration.registration }}">
        </div>

        <div>
            <button type="submit" class="btn btn-danger">
                Change registration
            </button>
        </div>
    </form>
</div>
{% endblock %}
