{% extends "_global/index.html" %}

{% block main %}
<div>
    <div class="options">
        <a href="{{ BASE }}admin/vehicles/{{ vehicle.vehicle_id }}/registrations/{{ registration.registration_id }}/add/">Add new registration</a>
    </div>

    <div class="registrations">
        <ul>
            {% for registration in registrations %}
            <li>
                <a href="{{ BASE }}admin/vehicle/{{ registration.vehicle_id }}/registration/{{ registration.registration_id }}/edit/">
                    {{ registration.registration|escape }}
                </a>
            {% endfor %}
        </ul>
    </div>
</div>
{% endblock %}
