{% extends "_global/index.html" %}

{% block main %}
<div class="container col-md-6 offset-md-3">
    <div class="card vehicle-list">
        <div class="card-header">
            <h1>Vehicle list</h1>
        </div>
            <ul class="list-group list-group-flush">
                {% for vehicle in vehicles %}
                <li class="list-group-item row">
                    ID vozila {{ vehicle.vehicle_id|escape }}

                    <a class="col col-6" href="{{ BASE }}admin/vehicles/edit/{{ vehicle.vehicle_id }}">
                        <i class="fa fa-edit"></i>
                    </a>
                    
                    <a title="Spisak registracija" href="{{ BASE }}admin/vehicle/{{ vehicle.vehicle_id }}/registrations">
                        <i class="fa fa-list"></i>
                    </a>
                {% endfor %}
            </ul>
            <div class="list-group">
                <button type="button" class="btn btn-primary link">
                    <a href="{{ BASE }}admin/vehicles/add">Add new car</a>
                </button>
            </div>
      </div>
</div>
{% endblock %}
