{% extends "_global/index.html" %}

{% block main %}
    
    <h1> Kategorije </h1>
    <ul>
        {% for category in categories %}
            <li class="category">
                <a href="{{ BASE }}category/{{ category.category_id }}" class="category-title">
                    {{ category.name|escape }}
                </a>
        {% endfor %}
    </ul>
{% endblock %}

{% block naslov %}
    Kategorije
{% endblock %}