{% extends "_global/index.html" %}

{% block main %}
<div class="prikaz">
    <h1> {{ category.name|escape }} </h1>
	<p> Spisak vozila: </p>
			{% for vehicle in vehiclesInCategory %}{% for shortData in vehicleShortData %}
			
				<div class="container category-show">
					<div class="row">
						<p>Automobil: {{ shortData.proizvodjac }} {{ shortData.model }}</p>
					</div>
					<div class="row">
						<span class="col vehicle-initial-milage">Pocetna kilometraza: {{ vehicle.initial_milage|escape }}km</span>
						<span class="col price">Cena vozila: {{ price.price|escape }}&euro;</span>
					</div>
					
					<div class="row">
						<a href="{{ BASE }}vehicle/{{ vehicle.vehicle_id }}" class="vehicle-big-image">
							<img class="vehicle-image-view" src="{{ BASE }}assets/uploads/{{ vehicle.vehicle_id }}.png" alt="Velika slika - {{ vehicle.vehicle_id }}">
						</a>
					</div>

				</div>
					{% endfor %}
			{% endfor %}
</div>
{% endblock %}

{% block naslov %}
    {{ category.name|escape }}
{% endblock %}