{% extends "_global/index.html" %}

{% block main %}
{% spaceless %}

<div class="container user-dashboard text-center">
    <div><h1 class="user-dashboard-title">List of my rents</h1></div>

    <div>

        <div class="rents offset-sm-3 offset-md-4 offset-lg-5">
            <ul>
                {% for rent in rents %}
                <li class="row user-rent-list">
                    <p>Rent id: </p>
                    <a class="user-rent-link" href="{{ BASE }}user/rents/edit/{{ rent.rent_id }}">
                        {{ rent.rent_id|escape }}
                    </a>
                {% endfor %}
            </ul>
        </div>
    </div>

    <div class="options">
            <a class="btn btn-outline-primary" href="{{ BASE }}user/rents/add">Add new rent</a>
    </div>
    <div class="user-dashboard-time"><p>Trenutno vreme je: {{ "now"|date('d.m.Y. H.i', timezone="Europe/Belgrade") }}</p></div>
</div>
{% endspaceless %}
{% endblock %}