{% extends "_global/index.html" %}

{% block main %}
    <div class="card feature-list-admin">
        
        <div class="card-header">
            <h1>Feature list</h1>
        </div>

            <ul class="list-group list-group-flush">
                {% for feature in features %}
                <li class="list-group-item">
                    <a href="{{ BASE }}admin/features/edit/{{ feature.feature_id }}">
                        Feature name: {{ feature.name|escape }}
                    </a>
                {% endfor %}
            </ul>

            <div class="list-group">
                <button type="button" class="btn btn-primary link">
                    <a href="{{ BASE }}admin/features/add">Add new feature</a>
                </button>
            </div>
    </div>
{% endblock %}
