{% extends "_global/index.html" %}

{% block main %}
<div>
    <div class="options">
        <a href="{{ BASE }}admin/features">List all features</a>
        <a href="{{ BASE }}admin/features/add">Add new feature</a>
    </div>

    <form class="feature-form" method="POST">
        <div>
            <label for="name">Name: </label>
            <input type="text" id="name" name="name" value="{{ feature.name|escape }}">
        </div>

        <div>
            <button type="submit">
                Edit category
            </button>
        </div>
    </form>
</div>
{% endblock %}
