{% extends "_global/index.html" %}

{% block main %}
    <div class="container vehicle-title">
        <h1>ID vozila: {{ vehicle.vehicle_id|escape }}</h1>
    </div>
    
    <div class="container row vehicle-show">

        <div class="col offset-md-1">
            <div class="feature-list"> 
                {% if featuresInVehicle %}
                    <ul class="list-group">
                        <p class="list-group-item feature-title bg-primary">Karakteristike vozila</p>
                        {% for item in featuresInVehicle %}
                        <li class="list-group-item">
                            <b>{{ item.name }}</b>: {{ item.value }}
                        {% endfor %}
                    </ul>
                {% endif %}
            </div>    
        </div>     

        <div class="col offset-md-1 offset-lg-2 offset-xl-3 right-column">
            <div class="list-group">   
                <p class="list-group-item feature-title bg-primary">Informacije o vozilu</p>
                <p class="list-group-item"><b>Kategorija vozila: </b>{{ vehicle.category_id }}</p>
                <p class="list-group-item"><b>Cena vozila: </b>{{ price.price|escape }}&euro;</p>
                {% if registration %}
                    <p class="list-group-item"><b>Registracija vozila: </b>{{ registration.registration|escape }}</p>
                {% endif %}
            </div>
        </div>
    </div>
    <!-- <p> Ovako se radi za datum: {{ auction.starts_at|date('j. n. Y.') }} </p> -->
{% endblock %}

{% block naslov %}
    {{ category.name|escape }}
{% endblock %}