{% extends "_global/index.html" %}

{% block main %}
    <div class="card">
        <div class="card-header">
            <h1>Vehicle list</h1>
        </div>

        <ul class="list-group list-group-flush">
            {% for vehicle in vehicles %}
            <li class="list-group-item">
                <a href="{{ BASE }}vehicle/{{ vehicle.vehicle_id }}">
                    ID vozila: {{ vehicle.vehicle_id|escape }} 
                </a>
            {% endfor %}
        </ul>
    </div>
{% endblock %}
