{% extends "_global/index.html" %}

{% block main %}
    <div class="card expenses-list-admin">
        
        <div class="card-header">
            <h1>Expense list</h1>
        </div>

            <ul class="list-group list-group-flush">
                {% for expense in expenses %}
                <li class="list-group-item">
                        <a href="{{ BASE }}admin/expenses/edit/{{ expense.expense_id }}">
                        Intervencija:  {{ expense.expense_id|escape }} + {{ expense.intervention_name }}
                    </a>
                {% endfor %}
            </ul>

            <div class="list-group">
                <button type="button" class="btn btn-primary link">
                    <a href="{{ BASE }}admin/expenses/add">Add new expense</a>
                </button>
            </div>
    </div>
{% endblock %}
