{% extends "_global/index.html" %}

{% block main %}
<div>
    <div class="options">
        <a href="{{ BASE }}admin/expenses">List all expenses</a>
    </div>

    <form class="expense-form" method="POST">
        <div class="form-group">
            <label for="intervention_name">Intervention name: </label>
            <input type="text" id="intervention_name" name="intervention_name" class="form-control" value="{{ expense.intervention_name }}">
        </div>
        
        <div class="form-group">
            <label for="price">Price: </label>
            <input type="number" id="price" name="price" class="form-control" value="{{ expense.price }}">
        </div>

    
        <div class="form-group">
            <label for="vehicle_id">Choose vehicle: </label>
            <select id="vehicle_id" name="vehicle_id" class="form-control">
                {% for vehicle in vehicles %}
                <option value="{{ vehicle.vehicle_id }}" {% if expense.vehicle_id == vehicle.vehicle_id %}selected{% endif %}>
                    {{ vehicle.vehicle_id }}
                </option>
                {% endfor %}
            </select>
        </div>
        
        <div>
            <button type="submit" class="btn btn-danger">
                Confirm expense
            </button>
        </div>
    </form>
</div>
{% endblock %}
