{% extends "_global/index.html" %}

{% block main %}

<form action="{{ BASE }}admin/register" method="POST" class="col-md-6 offset-md-3" onsubmit="return validateRegisterForm();">
    <h1 class="form-group col-md-8 offset-2">Register admin</h1>

    <div class="form-group col-md-12">
        <label for="input_name">Name:</label>
        <input type="text" id="input_name" name="reg_name" required
            pattern="^[A-Z][a-z]+$"  placeholder="Unesite svoje ime." class="form-control">
    </div>

    <div class="form-group col-md-12">
        <label for="input_surname">Surname:</label>
        <input type="text" id="input_surname" name="reg_surname" required
            pattern="^[A-Z][a-z]+$" placeholder="Unesite svoje prezime." class="form-control">
    </div>

    <div class="form-group col-md-12">
        <label for="input_email"><i class="fa fa-at"></i> E-mail:</label>
        <input type="email" id="input_email" name="reg_email" required
               placeholder="Unesite svoju adresu e-pošte u ovo polje." class="form-control">
    </div>

    <div class="form-group col-md-12">
        <label for="input_username"><i class="fa fa-user"></i> Username:</label>
        <input type="text" id="input_username" name="reg_username" required
            pattern="^[A-Za-z0-9  .\_]+$" placeholder="Unesite željeno korisničko ime." class="form-control">
    </div>

    <div class="form-group col-md-12">
        <label for="input_password_1"><i class="fa fa-lock"></i> Password:</label>
        <input type="password" id="input_password_1" name="reg_password_1" required
            pattern="^[A-Za-z0-9  .\_]+$" placeholder="Unesite željenu lozinku." class="form-control">
    </div>

    <div class="form-group col-md-12">
        <label for="input_password_2"><i class="fa fa-lock"></i> Repeat your password:</label>
        <input type="password" id="input_password_2" name="reg_password_2" required
            pattern="^[A-Za-z0-9  .\_]+$" placeholder="Unesite željenu lozinku još jednom." class="form-control">
    </div>

    <div class="form-group col-md-12">
        <button type="submit" class="btn btn-primary">
            Register
        </button>
    </div>
</form>
{% endblock %}
