{% extends "_global/index.html" %}

{% block main %}
<div class="row contact-form">
        <div class="container text-center col-sm-12 col-md-6 col-md-offset-3">
            <h1>Contact Us</h1>
            <p>
               Please send your message below. We will get back to you as soon as possible!
            </p>
            
            <form method="post" onsubmit="document.querySelector('#dugme').disabled = 'disabled';">
    

                <div class="row">
                    <div class="col-sm-6 form-group">
                        <label for="name"><i class="fa fa-user"></i> Your Name:</label>
                        <input type="text" class="form-control" id="name" name="name" placeholder="Type here..." required>
                    </div>
                    <div class="col-sm-6 form-group">
                        <label for="surname"><i class="fa fa-user"></i> Surname:</label>
                        <input type="text" class="form-control" id="surname" name="surname" placeholder="Type here..." required>
                    </div>
                </div>

                <div class="row">
                        <div class="col-sm-6 form-group">
                            <label for="email"><i class="fa fa-at"></i> Email:</label>
                            <input type="text" class="form-control" id="email" name="email" placeholder="Type here..." required>
                        </div>
                        <div class="col-sm-6 form-group">
                            <label for="phone"><i class="fa fa-phone"></i> Phone:</label>
                            <input type="number" class="form-control" id="phone" name="phone" placeholder="Type here..." required>
                        </div>
                    </div>

                <div class="row">
                    <div class="col-sm-12 form-group">
                        <label for="message"><i class="fa fa-envelope"></i> Message:</label>
                        <textarea class="form-control" type="textarea" name="message" id="message" maxlength="6000" rows="7" placeholder="Type your message..."></textarea>
                    </div>
                </div>
    

                <div class="row">
                    <div class="col-sm-12 form-group">
                        <button type="submit" id="dugme" class="btn btn-lg btn-outline-primary" >Send message</button>
                    </div>
                </div>
                <div class="alert alert-warning d-none" id="error-message"></div>
            </form>
        </div>
    </div>
{% endblock %}
