{% extends "_global/index.html" %}

{% block header %}
{% spaceless %}
    <div class="main-img col-md-4 offset-4">
        <img class="col-md-8 offset-1" src="{{ BASE }}assets/img/logo.png">                       
    </div>
{% endspaceless %}
{% endblock %}

{% block main %}
<form action="{{ BASE }}admin/login" method="POST" class="col-md-4 offset-4" onsubmit="return validateLoginForm();">
    <div class="form-group col-md-12">
        <label for="input_username"><i class="fa fa-user"></i> Username:</label><br/>
        <input type="text" id="input_username" name="login_username" class="form-control col-md-12" required
            pattern="^[A-Za-z0-9  .\_]+$" placeholder="Unesite svoje korisničko ime.">
    </div>

    <div class="form-group col-md-12">
        <label for="input_password"><i class="fa fa-lock"></i> Password:</label><br/>
        <input type="password" id="input_password" name="login_password" class="form-control col-md-12" required
            pattern="^[A-Za-z0-9  .\_]+$" placeholder="Unesite svoju lozinku.">
    </div>

    <div class="form-group col-md-12">
        <button type="submit" class="btn btn-danger col-md-4 offset-4">
            Log in
        </button>
    </div>
    <div class="alert alert-warning d-none" id="error-message"></div>
</form>
{% endblock %}

