{% extends "_global/index.html" %}

{% block main %}
<div class="login">
    <form action="{{ BASE }}user/login" method="POST" class="col-sm-12 col-md-4 offset-md-4" onsubmit="return validateLoginForm();">
        <div class="row">
            <div class="form-group col-md-12">
                <label for="input_username"><i class="fa fa-user"></i> Username:</label><br/>
                <input type="text" id="input_username" name="login_username" class="form-control col-md-12" required
                placeholder="Unesite svoje korisničko ime.">
            </div>

            <div class="form-group col-md-12">
                <label for="input_password"><i class="fa fa-lock"></i> Password:</label><br/>
                <input type="password" id="input_password" name="login_password" class="form-control col-md-12" required
                placeholder="Unesite svoju lozinku.">
            </div>

            <div class="form-group col-md-12">
                <button type="submit" class="btn btn-primary col-sm-12 col-md-4 offset-md-4">
                    Log in
                </button>
            </div>
            <div class="alert alert-warning d-none" id="error-message">
        </div>
    </div>
    </form>
        <div class="text-center">
            <a href="{{ BASE }}user/register" class="btn btn-outline-primary col-sm-10 col-md-1">
                Register
            </a>
        </div>
</div>
{% endblock %}
