{% extends "_global/index.html" %}

{% block main %}
{% spaceless %}

<div class="categories row">
    {% for category in categories %}
    <a href="{{ BASE }}category/{{ category.category_id }}" class="category col-12 col-sm-12 col-md-6">{{ category.name|escape }}</a>
    {% endfor %}
</div>

<p>Trenutno vreme je: {{ "now"|date('d.m.Y. H.i', timezone="Europe/Belgrade") }}</p>

{% endspaceless %}
{% endblock %}