{% extends "_global/index.html" %}

{% block main %}
<div class="row contact-form">
    <div class="container text-center col-sm-12 col-md-6 col-md-offset-3">
        <h1>Contact Us</h1>
        <p>
            {{ message }}
        </p>
    </div>
</div>
{% endblock %}
