* {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}

body {
    margin: 0 auto;
}

.hermes{
    display: none;
    
}

.social-icons { 
    text-align: center;
    margin-bottom: 10px;
    margin-top: 5px;
}

.social-icons-img {
    font-size: 20px;
    margin: 0px 10px;
    height: 20px;
    width: 20px;
}

.yt {color: #ff0000}
.fb {color: #3b5998}
.tw {color: #1da1f2}
.ld {color: #0077b5}

.user-dashboard{
    margin-top: 30px;
}

.user-dashboard-title{
    font-size: 20pt;
    color: #007bff;
}

.user-rent-list{
    padding: 10px;
}

.user-rent-link{
    padding-left: 10px;
}

.user-dashboard-time{
    margin-top: 50px;
    margin-bottom: 40px;
    color: #007bff;
}

.categories {
    display: flex;
    flex-direction: row;
    align-content: stretch;
    flex-wrap: wrap;
}

.category {
    width: 50%;
    text-align: center;
    padding: 50px 100px;
    border: 1px solid #ccc;
    background: rgba(200, 200, 200, 0.2);
    text-decoration: none;
    color: #000;
}

.category:hover {
    border: 1px solid #000;
    background: rgba(200, 200, 200, 0.6);
}

.link > a{
    text-decoration: none;
    color: #fff;
}

.site-footer {
    margin-top: 40px;
    text-align: center;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #007bff;
    color: #fff;
    text-align: center;
}

.auction {
    display: grid;
    grid-template-areas: "big-image big-image title title title"
                         "big-image big-image date1 date2 price";
    grid-template-columns: 140px 0px auto;
    border-bottom: 1px solid #444;
    margin-bottom: 5px;
    padding-bottom: 5px;
}

.auction > .auction-title { grid-area: title; }
.auction > .auction-date1 { grid-area: date1; text-align: center; }
.auction > .auction-date2 { grid-area: date2; text-align: center; }
.auction > .auction-price { grid-area: price; text-align: right; }
.auction > .auction-big-image { grid-area: big-image; height: 100px; width: 120px; }
.auction > .auction-big-image > img { width: 100%; height: auto; }

.vehicle {
    display: grid;
    grid-template-areas: "big-image big-image title title title"
                         "big-image big-image date1 date2 price";
    grid-template-columns: 140px 0px auto;
    border-bottom: 1px solid #444;
    margin-bottom: 5px;
    padding-bottom: 5px;
}

.vehicle > .vehicle-title { grid-area: title; }
.vehicle > .vehicle-initial-milage { grid-area: date1; text-align: center; }
.vehicle > .price { grid-area: date2; text-align: center; }
.vehicle > .auction-price { grid-area: price; text-align: right; }

.vehicle-show{
    margin-top: 40px;
    margin-bottom: 50px;
}

.feature-list{
    text-align: center;
}

.feature-title{
    color: #fff;
    font-size: 18px;
    font-weight: 500;
}

.right-column{
    text-align: center;
}

.vehicle-title{
    text-align: center;
}

.registration-info{
    background-color: #aa4d56;
    color: #fff;
    font-weight: 600;
    font-size: 18pt;
}

.vehicle-list{
    margin-top: 40px;
    margin-bottom: 70px;
    text-align: center;
}

.cms-title {
    margin-top: 20px;
}

.cms-list {
    margin-top: 30px;
    margin-bottom: 50px
}

.contact-form {
    margin-top: 30px;
    margin-bottom: 50px;
}

.rent-form {
    margin-bottom: 50px;
}

.prikaz {
    margin-bottom: 50px;
}

.category-show{
    border-bottom: 1px solid #c1c1c1;
}

.category-list-admin{
    margin-bottom: 50px;
}

.feature-list-admin{
    margin-bottom: 50px;
}

.prices-list-admin{
    margin-bottom: 50px;
}

.rents-list-admin{
    margin-bottom: 50px;
}

.expenses-list-admin{
    margin-bottom: 50px;
}

@media screen and (max-width: 760px) {
    .vehicle-image-view{
        width: 230px;
        height: 103px;
    }

    .categoryTitle{
        text-align: center;
    }

    .listDescription{
        text-align: center;
    }

    .vehicle-image-view{
        text-align: center;
    }

    .hermes{
        display: block;
        text-align: center;
    }
}

@media screen and (max-width: 500px) {
    .banners{
        display: none;
    }

    .vehicle-image-view{
        width: 230px;
        height: 103px;
    }

    .categoryTitle{
        text-align: center;
    }

    .listDescription{
        text-align: center;
    }

    .vehicle-image-view{
        text-align: center;
    }

    .hermes{
        display: block;
        text-align: center;
    }
}

@media screen and (max-width: 423px) {
    .banners{
        display: none;
    }

    .right-column{
        margin-top: 40px;
    }

    .hermes{
        display: block;
        text-align: center;
    }
}