{% extends "_global/index.html" %}

{% block main %}
<div>
    <div class="options">
        <a href="{{ BASE }}admin/vehicleFeatures">List all vehicleFeatures</a>
    </div>

    <form class="rent-form" method="POST">
        
        <div class="form-group">
            <label for="feature_id">Choose feature: </label>
            <select id="feature_id" name="feature_id" class="form-control" required>
                {% for feature in features %}
                <option value="{{ vehicle_feature.feature_id }}">
                    {{ feature.name }}
                </option>
                {% endfor %}
            </select>
        </div>

        <div class="form-group">
            <label for="vehicle_id">Choose vehicle: </label>
            <select id="vehicle_id" name="vehicle_id" class="form-control" required>
                {% for vehicle in vehicles %}
                <option value="{{ vehicle.vehicle_id }}">
                    {{ vehicle.vehicle_id }}
                </option>
                {% endfor %}
            </select>
        </div>

        {% for vehicleFeature in vehicleFeatures %}
        <div class="form-group">
            <label for="value">Value: </label>
            <input type="text" id="value" name="value" class="form-control" required>
        </div>
        {% endfor %}

        <div>
            <button type="submit" class="btn btn-danger">
                Confirm rent
            </button>
        </div>
    </form>
</div>
{% endblock %}
