{% extends "_global/index.html" %}

{% block main %}
<div>
    <div class="options">
        <a href="{{ BASE }}admin/vehicleFeature">List all vehicleFeature</a>
    </div>

    <p>{{ message|escape }}</p>
</div>
{% endblock %}
