{% extends "_global/index.html" %}

{% block main %}
<div class="expenses-list-admin">
    <div class="options">
        <a href="{{ BASE }}admin/vehicleFeatures/add">Add new vehicleFeature</a>
    </div>

    <div class="container col-md-6 offset-md-3">
        <div class="card vehicle-list">
            <div class="card-header">
                <h1>Vehicle feature list</h1>
            </div>
                <ul class="list-group list-group-flush">
                    {% for vehicleFeature in vehicleFeatures %}
                    <li class="list-group-item row">
                        <a href="{{ BASE }}admin/vehicleFeatures/edit/{{ vehicleFeature.vehicle_feature_id }}">
                            {{ vehicleFeature.vehicle_feature_id|escape }} - Vrednost: {{ vehicleFeature.value }}
                        </a>
                    {% endfor %}
                 </ul>
            </div>
        </div>
    </div>    
{% endblock %}
