{% extends "_global/index.html" %}

{% block main %}
<div>
    <div class="options">
        <a href="{{ BASE }}admin/registrations">List all registrations</a>
    </div>

    <form class="registration-form" method="POST">
        
        <div class="form-group">
            <label for="registred_at">Date of registration: </label>
            <input type="datetime-local" id="registred_at" name="registred_at" class="form-control" required>
        </div>

        <div class="form-group">
            <label for="expires_at">Date when registration expires: </label>
            <input type="datetime-local" id="expires_at" name="expires_at" class="form-control" required>
        </div>

        <div class="form-group">
            <label for="registration">Registration: </label>
            <input type="text" id="registration" name="registration" class="form-control" required>
        </div>

        <div class="form-group">
            <label for="vehicle_id">Choose vehicle: </label>
            <select id="vehicle_id" name="vehicle_id" class="form-control" required>
                {% for registration in registrations %}
                <option value="{{registration.vehicle_id}}">
                    {{ registration.value }}
                </option>
                {% endfor %}
            </select>
        </div>

        <div>
            <button type="submit" class="btn btn-danger">
                Confirm registration
            </button>
        </div>
    </form>
</div>
{% endblock %}
