{% extends "_global/index.html" %}

{% block main %}
<div>
    <div class="options">
        <a href="{{ BASE }}admin/registrations">List all registrations</a>
    </div>

    <p>{{ message|escape }}</p>
</div>
{% endblock %}
