{% extends "_global/index.html" %}

{% block main %}
<div>
    <div class="options">
        <a href="{{ BASE }}admin/registrations/add">Add new registration</a>
    </div>

    <div class="registrations">
        <ul>
            {% for registration in registrations %}
            <li>
                <a href="{{ BASE }}admin/registrations/edit/{{ registration.registration_id }}">
                    {{ registration.registration|escape }}
                </a>
            {% endfor %}
        </ul>
    </div>
</div>
{% endblock %}
