{% extends "_global/index.html" %}

{% block main %}
    <div class="card category-list-admin">
        <div class="card-header">
            <h1>Category list</h1>
        </div>

            <ul class="list-group list-group-flush">
                {% for category in categories %}
                <li class="list-group-item">
                    <a href="{{ BASE }}admin/categories/edit/{{ category.category_id }}">
                    ID rente: {{ category.name|escape }}
                    </a>
                {% endfor %}
            </ul>

            <div class="list-group">
                <button type="button" class="btn btn-primary link">
                    <a href="{{ BASE }}admin/categories/add">Add new category</a>
                </button>
            </div>
    </div>
{% endblock %}
