{% extends "_global/index.html" %}

{% block main %}
<div>
    <div class="options">
        <a href="{{ BASE }}admin/categories">List all categories</a>
    </div>

    <form class="category-form" method="POST">
        <div>
            <label for="name">Name: </label>
            <input type="text" id="name" name="name" required>
        </div>

        <div>
            <button type="submit">
                Add category
            </button>
        </div>
    </form>
</div>
{% endblock %}
