<a class="nav-item nav-link active" href="{{ BASE }}"><i class="fa fa-home"></i> Home<span class="sr-only">(current)</span></a>
<a class="nav-item nav-link" href="{{ BASE }}vehicles"><i class="fa fa-calendar"></i> Vozni park</a>
<a class="nav-item nav-link" href="{{ BASE }}admin/profile"><i class="fa fa-wrench"></i> CMS</a>
<a class="nav-item nav-link" href="{{ BASE }}contact"><i class="fa fa-book"></i> Contact</a>
<a class="nav-item nav-link" href="{{ BASE }}admin/logout"><i class="fa fa-sign-out"></i> Logout</a>