<!DOCTYPE html>
<html>

    <head>
        <title>Hermes cars {% block naslov %} Početna {% endblock %}</title>
        
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        
        <link rel="stylesheet" href="{{ BASE }}assets/libs/bootstrap/dist/css/bootstrap.min.css">
        <link rel="stylesheet" href="{{ BASE }}assets/libs/font-awesome/css/font-awesome.min.css">
		<link rel="stylesheet" href="{{ BASE }}assets/css/main.css">
    </head>

    <body>
        <div class="container">   
            <header class="site-header">
                <div class="row">
                    <div class="banners col col-sm">
                        <a href="{{ BASE }}" class="banner">
                            <img src="{{ BASE }}/assets/img/banner-1.jpg" alt="Banner 1">
                        </a>
                    </div>
                    <div class="col col-sm">
                        <div class="social-icons">
                            <a href="#"><i class="fa fa-linkedin social-icons-img ld"></i></a>
                            <a href="#"><i class="fa fa-facebook social-icons-img fb"></i></a>
                            <a href="#"><i class="fa fa-twitter social-icons-img tw"></i></a>
                            <a href="#"><i class="fa fa-youtube-play social-icons-img yt"></i></a>
                        </div>
                        
                        <div class="search-box">
                            <form action="{{ BASE }}search" method="POST">
                                <div class="form-group">
                                    <div class="input-group col-sm-12">
                                        <input type="text" name="q" class="form-control" placeholder="Search">
                                            <div class="input-group-append">
                                                <button class="btn btn-primary" type="submit">
                                                <i class="fa fa-search"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>    
                </div>    
            </header>
            
            <div class="container">
                    <nav class="navbar navbar-expand-lg navbar-light col-lg-6 offset-lg-3">
                            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                                <span class="navbar-toggler-icon"></span>
                            </button>
                            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                                <div class="navbar-nav">
                                    {% include '_global/menu.html' %}
                                </div>
                            </div>
                        </nav>
            </div>

            <div class="container">
                <main>
                    {% block main %}
                    {% endblock %}
                </main>
            </div>

            <footer class="site-footer">&copy; {{ "now"|date('m/Y', timezone="Europe/Belgrade") }} - Uros Arnaut - PIIVT</footer>
        </div>
        <script>const BASE = '{{ BASE }}';</script>
        <script src="{{ BASE }}assets/libs/jquery/dist/jquery.min.js"></script>
        <script src="{{ BASE }}assets/libs/bootstrap/dist/js/bootstrap.min.js"></script>
        <script src="{{ BASE }}assets/js/validation.js"></script>
    </body>
</html>