
<a class="nav-item nav-link active" href="{{ BASE }}">
    <i class="fa fa-home"></i> Home<span class="sr-only">(current)</span>
</a>
<a class="nav-item nav-link" href="{{ BASE }}vehicles">
    <i class="fa fa-calendar"></i> Vozni park
</a>
<a class="nav-item nav-link" href="{{ BASE }}user/profile">
    <i class="fa fa-wrench"></i> My Rents
</a>
<a class="nav-item nav-link" href="{{ BASE }}contact">
    <i class="fa fa-user"></i> Contact
</a>
<a class="nav-item nav-link" href="{{ BASE }}user/logout">
    <i class="fa fa-sign-out"></i> Logout
</a>