{% extends "_global/index.html" %}

{% block main %}
<div>
    <div class="options">
        <a href="{{ BASE }}admin/rents">List all rents</a>
    </div>

    <form class="rent-form" method="POST">
        <div class="form-group">
            <label for="vehicle_id">Choose vehicle: </label>
            <select id="vehicle_id" name="vehicle_id" class="form-control" required>
                {% for vehicle in vehicles %}
                <option value="{{ rent.vehicle_id }}">
                    {{ vehicle.vehicle_id }}
                </option>
                {% endfor %}
            </select>
        </div>

        <div class="form-group">
            <label for="delivery_place">Delivery place: </label>
            <input type="text" id="delivery_place" name="delivery_place" class="form-control" required>
        </div>

        <div class="form-group">
            <label for="return_place">Return place: </label>
            <input type="text" id="return_place" name="return_place" class="form-control" required>
        </div>

        <div class="form-group">
            <label for="delivered_at">Delivery date and time: </label>
            <input type="datetime-local" id="delivered_at" name="delivered_at" class="form-control" required>
        </div>

        <div class="form-group">
            <label for="returned_at">Return date and time: </label>
            <input type="datetime-local" id="returned_at" name="returned_at" class="form-control" required>
        </div>

        <div class="form-group">
            <label for="returned_due_at">Returned due at: </label>
            <input type="datetime-local" id="returned_due_at" name="returned_due_at" class="form-control">
        </div>

        <div class="form-group">
            <label for="milage">Milage: </label>
            <input type="number" id="milage" name="milage" class="form-control">
        </div>

        <div class="form-group">
            <label for="spent_gas">Spent gas: </label>
            <input type="number" id="spent_gas" name="spent_gas" class="form-control">
        </div>

        <div>
            <button type="submit" class="btn btn-danger">
                Confirm rent
            </button>
        </div>
    </form>
</div>
{% endblock %}
