{% extends "_global/index.html" %}

{% block main %}
    <div class="card rents-list-admin">
        <div class="card-header">
            <h1>Rent list</h1>
        </div>

            <ul class="list-group list-group-flush">
                {% for rent in rents %}
                <li class="list-group-item">
                    <a href="{{ BASE }}admin/rents/edit/{{ rent.rent_id }}">
                    ID rente: {{ rent.rent_id|escape }}
                    </a>
                {% endfor %}
            </ul>

            <div class="list-group">
                <button type="button" class="btn btn-primary link">
                    <a href="{{ BASE }}admin/rents/add">Add new rent</a>
                </button>
            </div>
    </div>
{% endblock %}
