{% extends "_global/index.html" %}

{% block main %}
    <div class="card rents-list-admin col-sm-12 col-md-4 offset-md-4 text-center">
        <div class="card-header">
            <h1>Rent list</h1>
        </div>

            <ul class="list-group list-group-flush">
                {% for user in users %}
                <li class="list-group-item">
                    <p>User id: {{ user.user_id }}</p>
                    <p>Name: {{ user.name }}</p>
                    <p>Surname: {{ user.surname }}</p>
                    <p>Email: {{ user.email }}</p>
                    <p>Username: {{ user.username }}</p>
                    <p>ID card: {{ user.id_number }}</p>
                {% endfor %}
            </ul>
    </div>
{% endblock %}
